.App {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.setSection {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
}

.counter {
    background-color: cadetblue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SettingsCounterWrapper {
    width: 200px;
    height: 300px;
    background-color: #2a2a38;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.MainCounterWrapper {
    width: 200px;
    height: 300px;
    background-color: #2a2a38;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset 2px 2px 3px rgba(255, 255, 255, 0.25),
    inset -3px -3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
